@tailwind base;
@tailwind components;
@tailwind utilities;
html { scroll-behavior: smooth; }

@keyframes airportScroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-33.33%); }
}

@keyframes testimonialScroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.testimonial-scroll:hover {
  animation-play-state: paused;
}

@keyframes fleetScroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.fleet-scroll:hover {
  animation-play-state: paused;
}

@keyframes clientScroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.client-scroll:hover {
  animation-play-state: paused;
}
